// Utilities partial
.container {
  max-width: $website-width;
  margin: auto;
  padding: 0 1.5rem;
  overflow: hidden;
}

.lead {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.section-title {
  font-size: 2rem;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding-bottom: 0.5rem;
  font-weight: 100;
}

.bottom-line {
  height: 3px;
  background: $main-color;
  margin: 0.5rem auto;
  width: 5%;
}

// Backgrounds
.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }
  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }
  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
}

// Padding
.py {
  &-1 {
    padding: 1.5rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

// Margin
.my {
  &-1 {
    margin: 1.5rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}

.btn {
  &-main {
    @extend %btn-shared;
    background: $main-color;
    color: #333;
  }

  &-light {
    @extend %btn-shared;
    background: $light-color;
    color: #333;
  }

  &-dark {
    @extend %btn-shared;
    background: $dark-color;
    color: #fff;
  }
}

button[class^="btn-"]:hover,
input[class^="btn-"]:hover,
a[class^="btn-"]:hover {
  background: $main-color;
}

button[class^="btn-"],
input[class^="btn-"],
a[class^="btn-"] {
  user-select: none;
}
